.triangle{
    border:1px solid black;
    text-align: center;
    float: right;
    margin-right: 300px;
    padding-top: 30px;
    margin-top: 1px;
    color:rgb(244,182,66)
}

.p{
    margin-top: 10px;
    padding-top: 30px;
}
nav a{
    padding:5px;
    text-decoration: blue;
    margin-right: 200px;
}