.triangle{
    border:1px solid black;
    text-align: center;
    float: right;
    margin-right: 300px;
    padding-top: 30px;
    margin-top: 1px;
}

.p{
    margin-top: 10px;
    padding-top: 30px;
}